*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
}

html{
    font-family: 'Roboto', sans-serif;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}