* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

html {
  z-index: 0;
  background: -webkit-gradient(linear, left top, right top, from(#2980b9), to(#6dd5fa));
  background: linear-gradient(to right, #2980b9, #6dd5fa);
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

.title-container {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  height: 10vh;
  width: 20vw;
}

.card-container {
  height: 67vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.score-text {
  position: absolute;
  top: 1rem;
}

.quiz-card {
  z-index: 1;
  background: #eeeeee;
  position: relative;
  min-height: 40vh;
  min-width: 40vw;
  border: none;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.5), -1px -1px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.5), -1px -1px 30px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quiz-card .start-button {
  min-width: 20vw;
  font-size: 2rem;
}

.hide-startBtn {
  display: none;
}

.button-container {
  min-height: 20vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.answer-grp-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-right: 8rem;
}

.answer-grp-1 .answer1 {
  margin-bottom: 4rem;
}

.answer-grp-1 .answer1,
.answer-grp-1 .answer2 {
  margin-left: 2rem;
}

.answer-grp-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.answer-grp-2 .answer3 {
  margin-bottom: 4rem;
}

.answer-grp-2 .answer3,
.answer-grp-2 .answer4 {
  margin-right: 2rem;
}

.answer-grp-1,
.answer-grp-2 {
  margin-bottom: 5rem;
}

.correct {
  background: green;
}

.incorrect {
  background: red;
}

.background-color {
  background: -webkit-gradient(linear, left top, right top, from(#56ab2f), to(#a8e063));
  background: linear-gradient(to right, #56ab2f, #a8e063);
}

.start-background {
  background: -webkit-gradient(linear, left top, right top, from(#56ab2f), to(#a8e063));
  background: linear-gradient(to right, #56ab2f, #a8e063);
}

.answer-buttons,
.start-button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  min-width: 20vw;
  border: none;
  cursor: pointer;
  color: white;
}

.hide {
  display: none;
}

.submit-answer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  right: 0%;
  padding: 1rem 0rem;
  border: none;
  background: #236893;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.popup {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  min-height: 20vh;
  min-width: 30vh;
}

.popup-container.active {
  opacity: 1;
  pointer-events: all;
}

.popup.active {
  -webkit-transform: rotateY();
          transform: rotateY();
}

.popup-container {
  position: fixed;
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 1.4s ease;
  transition: all 1.4s ease;
  z-index: 2;
}

.poop {
  font-size: 2rem;
}

.try-again {
  border: none;
  background: #3E9BCD;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */